<%= form_for(@students) do |f| %>
  <% if @students.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@students.errors.count, "error") %> prohibited this students from being saved:</h2>

      <ul>
      <% @students.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <!--Form to add/edit information about student-->
  <!--There is no error checking for color-->
  <table class="studentTable">
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td><%= f.label :weight %></td>
      <td><%= f.text_field :weight %></td>
    </tr>
    <tr>
      <td><%= f.label :height %></td>
      <td><%= f.text_field :height %></td>
    </tr>
    <tr>
      <td><%= f.label :color %></td>
      <td><%= f.text_field :color %></td>
    </tr>
    <!--gpa can be a float with any step size-->
    <tr>
      <td><%= f.label :gpa %></td>
      <td><%= f.number_field :gpa, :step => 'any' %></td>
    </tr>    
    <tr>
    <!--students put into group 1 to 5-->
      <td><%= f.label :group %></td>
      <td><%= f.number_field :group, min: 1, max: 5 %></td>
    </tr>
    <tr>
      <td colspan="2"><%= f.submit %></td>
    </tr>
    <tr>
      <td colspan="2"><%= link_to 'Back', students_path %></td>
    </tr>
  </table>


<% end %>
