<%= javascript_include_tag( 'draw' ) %>
<style>

  <% @students.to_a.each do |student| %>
  #boxId_<%= student.id %> {
    width:calc(<%= student.weight %>px*1.5);
    height:calc(<%= student.height %>px*1.5);
    border: 2px solid <%= student.color %>;
  }
  <% end %>
</style>

<div id = "drawContainer">
  <div id = "group1" class = "groupContainers">
      <h1>Group 1</h1>
  </div>
  <div id = "group2" class = "groupContainers">
      <h1>Group 2</h1>
  </div>
  <div id = "group3" class = "groupContainers">
      <h1>Group 3</h1>
  </div>
  <div id = "group4" class = "groupContainers">
      <h1>Group 4</h1>
  </div>
  <div id = "group5" class = "groupContainers">
      <h1>Group 5</h1>
  </div>
    <% @students.each do |student| %>
        <div id = "boxId_<%= student.id %>" class = "studentBoxes">
            <p style ="color: <%= student.color %>"> <%= student.name %></p>
            <p> <%= student.gpa %></p>
        </div>
        <script>
            sortGroups(<%= student.id %>, <%= student.group %>);
        </script>
    <% end %>
</div>

<div id="backButton">
    <%= link_to 'Back', students_path %>
</div>