<style>
  <% @students.to_a.each do |student| %>
  #boxId_<%= student.id %> {
    width:calc(<%= student.weight %>px*1.5);
    height:calc(<%= student.height %>px*1.5);
  }
  <% end %>
</style>

<div id = "drawContainer">
    <% byGroups = @students.group_by{|student| student.group} %>
    <%= @students.class %>
   
    
    <%= byGroups.class %>
    
    <%= @students.group(:group) %>
    
    <% byGroups.each do |groups| %>

        <p> divider</p>
    <% end %>

    <div id = "group1">
        <% @students.each do |student| %>
            <div id = "boxId_<%= student.id %>" class = "studentBoxes">
                <p style ="color: <%= student.color %>"> <%= student.name %></p>
                <p> <%= student.gpa %></p>
            </div>
        <% end %>
    </div>    

</div>