<div class="container">
<h1>List of Students</h1>


<table class="studentTable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Height</th>
      <th>Color</th>
      <th>GPA</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.to_a.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.weight %></td>
        <td><%= student.height %></td>
        <td><%= student.color %></td>
        <td><%= student.gpa %></td>
        <td><%= student.group %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student.id) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="8"><%= link_to 'New students', new_student_path %></td>
      <td><%= link_to 'Draw', '/draw' %></td>
    </tr>
  </tbody>
</table>




</div>
