<html>
    <head>
        <title>Students</title>
    </head>
    <body>
        <table class ="studentTable">
            <tr>
                <td>Name:</td>
                <td><%= @students.name %></td>
            </tr>
            <tr>
                <td>Weight:</td>
                <td><%= @students.weight %></td>
            </tr>
            <tr>
                <td>Color:</td>
                <td><%= @students.color %></td>
            </tr>
            <tr>
                <td>GPA:</td>
                <td><%= @students.gpa %></td>
            </tr>
            <tr>
                <td>Group:</td>
                <td><%= @students.group %></td>
            </tr>
            <tr>
                <td><%= link_to 'Edit', edit_student_path(@students.id) %> </td>
                <td><%= link_to 'Back', students_path %></td>
            </tr>

        </table>
    </body>
</html>